{% extends 'base.html' %}
{% block title %}
    Checkin
{% endblock title %}
{% block content %}
    <form action="../checkin" method="post">
        <p>Is your car available for service today?</p>
        <input type="radio" name="available" onclick="Checkin.availableRadio(true)" value="True"> Yes<br>
        <input type="radio" name="available" onclick="Checkin.availableRadio(false)" value=""> No<br>
        <input type="hidden" name="checkinToken" value="{{ checkin_token }}">
        <input type="hidden" id="longitude" name="longitude" value="">
        <input type="hidden" id="latitude" name="latitude" value="">


        <p>When you have parked your car, please click the "Parked" button<br> to save your location and then submit the
            checkin form.</p>
        <div id="parkingLocation" style="display: none;">
            <button id="parkedButton" onclick="return Checkin.getLocation()" type="button">Parked</button>
        </div>
        <br><br>
        <input id="submitButton" type="submit" value="submit" style="display: none;">
    </form>
{% endblock content %}

{% block basescripts %}
    <script>
        var Checkin = (function () {
                var parkingLocation = document.getElementById("parkingLocation");
                var submitButton = document.getElementById("submitButton");
                var latitude = document.getElementById("latitude");
                var longitude = document.getElementById("longitude");
                var options = {
                    enableHighAccuracy: true,
                    timeout: 6000,
                    maximumAge: 0
                };

                function savePosition(position) {
                    latitude.value = position.coords.latitude;
                    longitude.value = position.coords.longitude;
                    parkingLocation.innerHTML= "Complete!" ;
                }

                function error(err) {
                    console.warn(`ERROR(${err.code}): ${err.message}`);
                }

                function getLocation() {
                    if (navigator.geolocation) {
                        parkingLocation.innerHTML = "Please wait, getting location";
                        navigator.geolocation.getCurrentPosition(savePosition, error, options);
                    } else {
                        console.warn("Geolocation is not supported by this browser.");
                    }
                }

                function availableRadio(isAvailable) {
                    if (isAvailable) {
                        parkingLocation.style.display = "block";
                    } else {
                        parkingLocation.style.display = "none";
                    }
                    submitButton.style.display = "block";
                }

                return {
                    getLocation: getLocation,
                    availableRadio: availableRadio
                };
            })();
    </script>
{% endblock basescripts %}

