{% extends 'base.html' %}
{% block title %}
    Checkin
{% endblock title %}
{% block content %}
    <form id="checkinForm" action="../checkin" method="post">
        <h3>Is your car available for service today?</h3>
        <div class="col-md-7 white-splash">
            <div class="row">
                <div class="col mt-3">
                    <span id="available-yes" class="make-selection"> Yes<br></span>
                    <span id="available-no" class="make-selection"> No<br></span>
                    <input type="hidden" id="available" name="available" value="">
                    <input type="hidden" name="checkinToken" value="{{ checkin_token }}">
                    <input type="hidden" id="longitude" name="longitude" value="">
                    <input type="hidden" id="latitude" name="latitude" value="">
                </div>
            </div>
            <div id="parkingLocation" style="display: none;">
                <div class="row">
                    <div class="col">
                        <p>When you have parked your car, please click the "Parked" button to save your location and
                            then
                            submit
                            the
                            checkin form.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <button id="parkedButton" class="btn-large header" type="button">Parked</button>
                        <p id="locationError" class="mt-4"></p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input id="submitButton" name="action" class="btn-large header" type="submit"
                           value="Submit"
                           style="display: none;">
                </div>
            </div>
        </div>
    </form>
{% endblock content %}
{% block basescripts %}
    <script>

        var Checkin = (function () {
            var parkingLocation = document.getElementById("parkingLocation");
            var availableYes = document.getElementById("available-yes");
            var availableNo = document.getElementById("available-no");
            var available = document.getElementById("available");
            var submitButton = document.getElementById("submitButton");
            var latitude = document.getElementById("latitude");
            var longitude = document.getElementById("longitude");
            var parkedButton = document.getElementById("parkedButton");
            var locationError = document.getElementById("locationError");
            var checkinForm = document.getElementById("checkinForm");
            var options = {
                enableHighAccuracy: true,
                timeout: 6000,
                maximumAge: 0
            };

            availableYes.addEventListener("click", function () {
                selectAvailability(true)
            });
            availableNo.addEventListener("click", function () {
                selectAvailability(false)
            });

            parkedButton.addEventListener("click", getLocation);


            function selectAvailability(selection) {
                if (selection) {
                    available.value = "True";
                    parkingLocation.style.display = "block";
                    submitButton.style.display = "none";
                    availableYes.classList.replace("make-selection", "selected");
                    availableNo.classList.replace("selected", "make-selection");
                } else {
                    available.value = "";
                    parkingLocation.style.display = "none";
                    submitButton.style.display = "block";
                    availableNo.classList.replace("make-selection", "selected");
                    availableYes.classList.replace("selected", "make-selection");
                }
            }

            function savePosition(position) {
                latitude.value = position.coords.latitude;
                longitude.value = position.coords.longitude;
                parkingLocation.innerHTML = "Complete!";
                checkinForm.submit();
            }

            function error(err) {
                console.warn(`ERROR(${err.code}): ${err.message}`);
                if (error.code == error.PERMISSION_DENIED) {
                    parkedButton.innerHTML = "Failed";
                    locationError.innerHTML = "Please enable location services.<br>Or submit without locating your vehicle."
                    submitButton.style.display = "block";
                }
            }

            function getLocation() {
                if (navigator.geolocation) {
                    parkedButton.innerHTML = "Locating...";
                    navigator.geolocation.getCurrentPosition(savePosition, error, options);
                } else {
                    console.warn("Geolocation is not supported by this browser.");
                }
            }
        })();
    </script>
{% endblock basescripts %}

