<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Checkin</title>
</head>
<body>
<form>
    <p>Is your car available for service today?</p>
    <input type="radio" name="available" value="true"> Yes<br>
    <input type="radio" name="available" value="false"> No<br>


    <p>By clicking submit we will use the current location of your device as the location of your parked car.</p>

    <button onclick="return getLocation()" type="button">Get Current Location</button>
    <input type="submit" value="submit">
</form>

</body>

<script>
    var x = document.getElementById("demo");

    function getLocation() {
        if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(showPosition);
        } else {
            x.innerHTML = "Geolocation is not supported by this browser.";
        }
    }

    function showPosition(position) {
        x.innerHTML = "Latitude: " + position.coords.latitude +
            "<br>Longitude: " + position.coords.longitude;
    }
</script>
</html>