{% extends 'base.html' %}
{% block title %}
    Services Table
{% endblock title %}
{% block content %}
<table>
    <tr>
        {% for header in columnHeaders %}
        <th>{{ header }}</th>
        {% endfor %}
    </tr>
{% for service in services %}
    <tr>
        {% for header in columnHeaders %}
        <td>{{ service[header] }}</td>
        {% endfor %}
    </tr>
{% endfor %}
</table>
{% endblock content %}
{% block basescripts %}
<style type="text/css" media="screen">

table{
border-collapse:collapse;
border:1px solid #4f08a5;
}

table td{
border:1px solid #4f08a5;
}
</style>
{% endblock basescripts %}