{% extends 'base.html' %}
{% block title %}
    Services Table
{% endblock title %}
{% block content %}
    <div class="row">
        <div class="table-responsive">
            <table class="table table-hover table-borderless">
                <thead>
                <tr>
                    {% for header in columnHeaders %}
                        <th>{{ header }}</th>
                    {% endfor %}
                </tr>
                </thead>
                <tbody>
                {% for service in services %}
                    <tr>
                        {% for header in columnHeaders %}
                            <td>{{ service[header] }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock content %}